doctype html
html(lang="en")
	head
		<!-- SCRIPTS -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
		title Mémo UPBM

body
	h1 Scrumblr par <a href="http://aliasaria.ca">Ali Asaria</a> et francisé par <a href="http://upbm.org">stef</a> 
	h2 Scrumblr est un tableau de post-it collaboratif
	div.board-outline
		div#board
			div#board-doodles


			table#board-table.board-table
				tr
					td
						h1.home Mémo de l'UPBM
						form.home(onsubmit="return go();")
							label Nommer votre nouveau tableau :
							br
							input.text(type="text", name="name")
							a#go(onclick="return go();") &nbsp;Allons-y.
						<br><br>
						p.home Exemple :
						p.home!= '<a href="http://' + locals.url + '/demo">' + locals.url + '/demo</a>'
						<br><br><br>
						p.home.small Code source disponible sur <a href="https://github.com/stef28/scrumblr">Github</a>
					
					
	div.stickers
		div.sticker#sticker-red
		div.sticker#sticker-blue
		div.sticker#sticker-yellow
		div.sticker#sticker-green
		br
		div.sticker#sticker-pink
		div.sticker#sticker-lightblue
		div.sticker#sticker-orange
		div.sticker#sticker-purple
		br
		div.sticker#sticker-gold
		div.sticker#sticker-bluestar
		div.sticker#sticker-silverstar
		div.sticker#sticker-redstar


	//display # of active users here
	div.active-connections= "connections: " + connected

	//<div style="width: 980px; height: 450px; border: solid 2px; opacity:.1; margin-top: 100px"> this will be the backlog that only appears on drag or perhaps not at all</div>

	<script type="text/javascript">function go() {var value = document.forms[0].elements["name"].value; value = escape(value); window.location.href = value; return false;}</script>

	<script type="text/javascript">	  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-2069672-4']);  _gaq.push(['_trackPageview']);   (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })(); </script>
tuto

	h1.home Comment l'utiliser ?
	p.tuto 1. Créer un tableau en choisissant un nom (pas trop simple pour qu'il ne soit pas choisi par d'autres personnes)
	p.tuto 2. Ce tableau est sauvegardé en temps réel ... pour écrire à plusieurs il suffit de partager son adresse (amusez-vous avec celui là : <a href="http://memo.upbm.org/stef">Edt de stef</a>)
	p.tuto 3. Créer une note (un post-it) en appuyant sur le (+) ... appuyez plusieurs fois pour changer de couleur et faites un glisser-déposer pour coller le post-it sur le tableau
	p.tuto 4. Un double clic sur le post-it vous permet d'écrire dessus
	p.tuto 5. Vous pouvez coller des gommettes de couleur (en bas à droite) sur chaque post-it
	p.tuto 6. Vous pouvez ajouter ou supprimer des colonnes de votre tableau en appuyant sur les (+) ou le (-) qui apparaissent quand vous placez votre souris à droite dans le tableau. Il suffit de double cliquer sur son nom pour la renommer.

